<div class="form-box" id="login-box">
    <div class="header headerLogin">Cambio de Password</div>
    <form name="form" ng-submit="cambiar()">
        <div class="body bg-gray">
            <div class="form-group">
                <input type="text" name="username" ng-model="usuario.username" class="form-control" placeholder="Nombre de usuario"/>
            </div>
            <div class="form-group">
                <input type="password" name="passwordO"  ng-model="usuario.passwordO" class="form-control" placeholder="Password Actual"/>
            </div>
            <div class="form-group">
                <input type="password" name="passwordN1"  ng-model="usuario.passwordN1" class="form-control" placeholder="Password Nueva"/>
            </div>
            <div class="form-group">
                <input type="password" name="passwordN2"  ng-model="usuario.passwordN2" class="form-control" placeholder="Confirmación Password Nueva"/>
            </div>
        </div>
        <div class="footer">
            <button type="submit" class="btn bg-olive btn-block">Aceptar</button>
        </div>
    </form>
</div>