<div class="mailbox row" data-ng-init="init()">
    <div class="col-xs-12">
        <div class="box box-solid">
            <div class="box-body">
              <div class="">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="row">
                      <div class="col-xs-12 col-md-8">                      
                        <div class="input-field btn_searchP">
                          <div class="input-group">
                              <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                              <input id="searchText_input" type="text" ng-model="searchText" class="form-control" placeholder="Filtrar..."/>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-md-2">
                        <button type="button" class="btn btn-primary btn-block" ng-click="buscarEmpresas()"><i class="glyphicon glyphicon-search"></i></button>
                      </div>                      
                      <div class="col-xs-12 col-md-2">
                        <button type="button" class="btn btn-default btn-block" ng-click="buscarEmpresasEliminadas()">Ver Eliminados</button>
                      </div>
                    </div>
                    <div class="row info_table">
                      <div class="col-xs-4 text-center">
                        <p>Periodo: <b>{{months[month]}} {{year}}</b></p>
                      </div>
                      <div class="col-xs-4 text-center">
                        <div class="text-center"><img ng-src="{{empresa.img}}"></div>
                      </div>
                      <div class="col-xs-4 text-center">
                        <p>Registros: <b>{{registros}}</b></p>
                      </div>
                    </div>
                    <div class=" table-responsive">
                      <form name="datosAnualesForm" enctype="multipart/form-data">
                      <table id="table_proyects" class="table table-striped table-hover table-condensed">
                        <thead>
                        <tr>
                            <th class="th_noContent text-center" style=""></th>                    
                            <th class="th_click text-center">Enero</th>
                            <th class="th_click text-center">Febrero</th>
                            <th class="th_click text-center">Marzo</th>
                            <th class="th_click text-center">Abril</th>
                            <th class="th_click text-center">Mayo</th>
                            <th class="th_click text-center">Junio</th>
                            <th class="th_click text-center">Julio</th>
                            <th class="th_click text-center">Agosto</th>
                            <th class="th_click text-center">Septiembre</th>
                            <th class="th_click text-center">Octubre</th>
                            <th class="th_click text-center">Noviembre</th>
                            <th class="th_click text-center">Diciembre</th>
                            <th class="th_noContent text-center" style=""></th>    
                        </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="emp in empresa | filter:searchText | orderBy:sortType:sortReverse" ng-class="{even: $even, odd: $odd}">
                              <td class="text-center">Tipo de dato</td>
                              <td>
                                <input type="text" class="form-control" id="tipo1" placeholder="tipo1" ng-pattern="patternLetNum">                                
                                <div ng-show="datosAnualesForm.tipo1.$touched" class="form_error_msg">
                                    <p ng-show="!datosAnualesForm.tipo1.$valid">Campo no valido (sólo letras y números)</p>
                                </div>
                              </td>
                              <td>{{emp.rfc}}</td>
                              <td>{{emp.rfc}}</td>
                              <td>{{emp.rfc}}</td>
                              <td>{{emp.rfc}}</td>
                              <td>{{emp.rfc}}</td>
                              <td>{{emp.rfc}}</td>
                              <td>{{emp.rfc}}</td>
                              <td>{{emp.responsable}}</td>
                              <td>{{emp.f_alta | date : "short" }}</td>
                              <td>{{emp.u_alta.nombre_usuario}}</td>
                              <td class="eliminar_cell">
                                <button ng-show="emp.status == 0" type="button" class="btn btn-success btn-block" ng-click="restaurarEmpresa(emp._id)"><i class="glyphicon glyphicon-check"></i></button>
                              </td>
                          </tr>
                        </tbody>
                      </table>
                    </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Eliminar Empresa</h4>
      </div>
      <div class="modal-body">
        <p class="msg_modal">¿Seguro de eliminar empresa <b>{{empresaSelect.nombre}}</b>?</p>
        <p>Registrada por: <b>{{empresaSelect.u_alta.nombre_usuario}}</b></p>
        <p>Fecha de creación: <b>{{ empresaSelect.f_alta | date : "short" }}</b></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-danger" ng-click="eliminarEmpresa(empresaSelect._id)">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-sm" id="myPleaseWait" tabindex="-1"
    role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-time">
                    </span>Espere un momento
                 </h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-info
                    progress-bar-striped active"
                    style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal ends Here -->