<div class="mailbox row" data-ng-init="init()">
    <div class="col-xs-12">
        <div class="box box-solid">
            <div class="box-body">
              <div class="">
                <div class="row">
                  <div class="col-xs-12">

                    <div class="row info_tableArchivo info_table table-empresa-archivo">
                      <div class="col-xs-4 text-center">
                        <p>Empresa: <b>{{empresa.nombre}}</b></p>
                      </div>
                      <div class="col-xs-4 text-center">
                        <div class="text-center"><img ng-src="{{empresa.img}}" class="img-empresa-archivo"></div>
                      </div>
                      <div class="col-xs-4 text-center">
                        <p>Elementos: <b>{{registros}}</b></p>
                      </div>
                    </div>

                    <div class="">
                      <div class="col-xs-12 archivos-directorio">
                        <span>Directorio Actual: </span>
                        <div ng-repeat="directorio in directorios" ng-click="irDirectorio($index)">
                          <p ng-show="$index == 0">/inicio</p> <i ng-show="$index != 0">/</i> {{directorio}}
                        </div>                        
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-12 col-md-4">
                        <div class="input-group">
                          <input type="text" name="fileNameBuscar" ng-model="fileNameBuscar" class="form-control" title="Nombre del archivo" placeholder="Nombre del archivo">
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-primary btn-block" ng-click="buscarArchivosNombre()"><i class="glyphicon glyphicon-search"></i></button>
                          </span>
                        </div>          
                      </div>
<!--                        <div class="col-xs-12 col-md-1">
                        <button type="button" class="btn btn-default btn-block" ng-click="migracion()">Migracion</i></button>
                      </div> -->
                      <div class="col-xs-12 col-md-3">
                        <div class="input-field btn_searchP">
                          <div class="input-group">
                              <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                              <input id="searchText_input" type="text" ng-model="searchText" class="form-control" placeholder="Filtrar resultados..."/>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-md-1">
                      </div>
                      <div class="col-xs-12 col-md-2">
                        <button type="button" class="btn btn-primary btn-block" ng-click="showModalCrearFile()"><i class="glyphicon glyphicon-plus"></i> Archivo</button>
                      </div>
                      <div class="col-xs-12 col-md-2">
                        <button type="button" class="btn btn-default btn-block" ng-click="showModalCrearDirectorio()"><i class="glyphicon glyphicon-plus"></i> Directorio</button>
                      </div>
                    </div>
                    <div class=" table-responsive table_archivos">
                      <table id="table_proyects" class="table table-striped table-hover table-condensed">
                        <thead>
                        <tr>       
                            <th class="th_noContent text-center"></th>
                            <th class="th_noContent text-center"></th>                     
                            <th class="th_noContent text-center"></th>
                            <th class="th_click" ng-click="sortType = 'nombre'; sortReverse = !sortReverse">Nombre
                              <span ng-show="sortType == 'nombre' && !sortReverse" class="fa fa-caret-down"></span>
                              <span ng-show="sortType == 'nombre' && sortReverse" class="fa fa-caret-up"></span>
                            </th>
                            <th class="th_click" ng-click="sortType = 'directorio'; sortReverse = !sortReverse">Directorio
                              <span ng-show="sortType == 'directorio' && !sortReverse" class="fa fa-caret-down"></span>
                              <span ng-show="sortType == 'directorio' && sortReverse" class="fa fa-caret-up"></span>
                            </th>
                            <th class="th_click" ng-click="sortType = 'size'; sortReverse = !sortReverse">Tamaño
                              <span ng-show="sortType == 'size' && !sortReverse" class="fa fa-caret-down"></span>
                              <span ng-show="sortType == 'size' && sortReverse" class="fa fa-caret-up"></span>
                            </th>
                            <th class="th_click" ng-click="sortType = 'f_carga'; sortReverse = !sortReverse">Fecha
                              <span ng-show="sortType == 'f_carga' && !sortReverse" class="fa fa-caret-down"></span>
                              <span ng-show="sortType == 'f_carga' && sortReverse" class="fa fa-caret-up"></span>
                            </th>
                            <th class="th_click" ng-click="sortType = 'archivo.u_carga'; sortReverse = !sortReverse">Subido por
                              <span ng-show="sortType == 'archivo.u_carga' && !sortReverse" class="fa fa-caret-down"></span>
                              <span ng-show="sortType == 'archivo.u_carga' && sortReverse" class="fa fa-caret-up"></span>
                            </th>
                        </tr>
                        </thead>
                        <tbody ng-show = "archivos != null">
                          <tr ng-repeat="archivo in archivos | filter:searchText | orderBy:sortType:sortReverse" ng-class="{even: $even, odd: $odd}">

                              <td class="descarga_cell">
                                <a ng-show="archivo.tipo == 'file'" class="btn btn-danger btn-block" ng-click="showModalEliminar(archivo)"><i class="fa fa-trash"></i></a>
                                <a ng-show="archivo.tipo == 'dir'" class="btn btn-danger btn-block" ng-click="showModalEliminarDirectorio(archivo)"><i class="fa fa-trash"></i></a>
                              </td>   
                              <td class="descarga_cell">
                                <a ng-show="archivo.tipo == 'file'"  class="btn btn-success btn-block" ng-href="/recursos/{{empresa.carpeta}}/{{aarchivo.directorio}}/{{archivo.nombre}}" download="{{archivo.name}}" target="_blank">
                                  <i class="glyphicon glyphicon-arrow-down"></i>
                                </a>
                                <a ng-show="archivo.tipo == 'dir'" class="btn btn-success btn-block" ng-click="openDirectorio(archivo.directorio, archivo.nombre)">
                                  <i class="fa fa-folder-open-o"></i>
                                </a>

                              </td>                           
                              <td class="text-center icon_cell">
                                <i ng-show="archivo.tipo == 'file'" ng-class="setIconClassFile('{{archivo}}')"></i>
                                <i ng-show="archivo.tipo == 'dir'" class="fa fa-folder folderOpen" aria-hidden="true"  ng-click="openDirectorio(archivo.directorio, archivo.nombre)"></i>
                              </td>
                              <td>{{archivo.nombre}}</td>
                              <td>{{archivo.directorio}}</td>
                              <td>
                                <span ng-show="archivo.size == NaN"> - </span>
                                <span ng-show="archivo.size != NaN && archivo.size < 1014 * 1024">{{archivo.size / 1024 | number:2}} KB</span>
                                <span ng-show="archivo.size != NaN && archivo.size > 1014 * 1014">{{archivo.size / 1024 / 1024 | number:2}} MB</span>
                              </td>
                              <td>{{archivo.f_carga | date : "short" }}</td>
                              <td>{{archivo.u_carga}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="modalAddDirectory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Agregar Directorio</h4>
      </div>
      <div class="modal-body">
        <p class="msg_modal" id="">Directorio actual: {{directorioActual}}</p>
        <input type="text" name="nombreDirectorio" ng-model="nuevoDirectorio" class="form-control" placeholder="Nombre del directorio" >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="crearDirectorio()">Agregar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Agregar ARCHIVO-->
<div class="modal fade" id="modalAddFile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Agregar Archivo</h4>
      </div>
      <form name="fileForm" ng-submit="registerFile()" enctype="multipart/form-data">
          <div class="modal-body modalAgregarArchivo">
          <p class="msg_modal" id="">Directorio actual: {{directorioActual}}</p>
            <div class="form-group">
                <input type="file" file-input="files" class="filestyle" data-buttonText=" Archivo" data-buttonName="btn-primary" required ng-upload-change="fileChanged($event)"/>
                <p class="small text-primary">*Tamaño Máximo: 15MB. Extensiones permitidas: png, jpg, jpeg, svg, rar, zip, pdf, xls, doc, txt, ppt</p>
            </div>   
            <div class="form-group">
                <div class="input-group">
                  <input type="text" name="fileName" ng-model="fileName" class="form-control" placeholder="Nombre del archivo" required ng-minlength="5" ng-maxlength="20" ng-pattern="patternLetNum">
                  <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" ng-click="changeNameToReport()" ><span class="glyphicon glyphicon-tags"></span></button>
                  </span>
                </div>            
                <div ng-show="fileForm.$submitted || fileForm.fileName.$touched" class="form_error_msg">
                    <p ng-show="!fileForm.fileName.$valid">Campo no valido (sólo letras y números)</p>
                    <p ng-show="fileForm.fileName.$error.minlength">Nombre muy corto(min 5)</p>
                    <p ng-show="fileForm.fileName.$error.maxlength">Nombre muy largo(max 13)</p>
                    <p ng-show="fileForm.fileName.$error.required">Favor de completar este campo</p>
                </div>
            </div>   
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn bg-olive btn-block" id="bt_submit" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing Order">Alta</button>
        </div>
      </form>
    </div>
  </div>
</div>



</div><!-- Modal Start here-->
<div class="modal fade bs-example-modal-sm" id="myPleaseWait" tabindex="-1"
    role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-time">
                    </span>Espere un momento
                 </h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-info
                    progress-bar-striped active"
                    style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal ends Here -->


<!-- Modal ELiminar Archivo-->
<div class="modal fade" id="modalEliminarArchivo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Eliminar Archivo</h4>
      </div>
      <div class="modal-body">
        <p class="msg_modal">¿Seguro de eliminar archivo <b>{{archivoSelect.nombre}}</b>?</p>
        <p>Subido por: <b>{{archivoSelect.u_carga}}</b></p>
        <p>Fecha de creación: <b>{{ archivoSelect.f_carga | date : "short" }}</b></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-danger" ng-click="eliminarArchivo(archivoSelect._id)">Eliminar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal ELiminar Archivo-->
<div class="modal fade" id="modalEliminarDir" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Eliminar Directorio</h4>
      </div>
      <div class="modal-body">
        <p class="msg_modal">¿Seguro de eliminar directorio <b>{{archivoSelect.nombre}}</b>?</p>
        <p>Subido por: <b>{{archivoSelect.u_carga}}</b></p>
        <p>Fecha de creación: <b>{{ archivoSelect.f_carga | date : "short" }}</b></p>
        <b>*Incluyendo todos los archivos del directorio</b>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-danger" ng-click="eliminarDirectorio(archivoSelect.directorio, archivoSelect.nombre, archivoSelect._id)">Eliminar</button>
      </div>
    </div>
  </div>
</div>