<div class="mailbox row" data-ng-init="init()">
    <div class="col-xs-12">
        <div class="box box-solid">
            <div class="box-body">
              <div class="">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="row">
                      <div class="col-xs-12 col-md-1 info_table">
                        <div class="text-center"><img ng-src="{{empresaD.img}}" class="logo_small"></div>
                      </div>
                      <div class="col-xs-12 col-md-5 info_table ">
                        <p>Empresa: <b>{{empresaD.nombre}}</b></p>
                        <p>RFC: <b>{{empresaD.rfc}}</b></p>
                      </div>
                      <form name="busForm" ng-submit="buscar()">              
                      <div class="col-xs-12 col-md-2">
                      </div>
                      <div class="col-xs-12 col-md-2">  
                        <div class="input-group">
                            <div class="input-group-addon">Año</div>                      
                          <select name="anio" id="anio" class="form-control" ng-model="anio" required>
                            <option ng-repeat="dato in anios" value="{{dato.anio}}" ng-selected="dato.anio == anio">{{dato.anio}}</option>
                          </select>
                          <div ng-show="busForm.$submitted || busForm.anio.$touched" class="form_error_msg">
                              <p ng-show="busForm.anio.$error.required">Favor de completar este campo</p>
                          </div>
                        </div> 
                      </div>
                      <div class="col-xs-12 col-md-1">
                        <button type="submit" class="btn bg-olive btn-block" id="bt_submit" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing Order"><i class="glyphicon glyphicon-search"></i></button>  
                      </div>
                      </form>
                    </div>
                    <br>                    
                    <div class="dasboardDatos">
                      <div ng-repeat="dato in datos" class="col-xs-12 col-md-6">
                        <div class="row boxData"> 
                          <div class="modalSubitle">{{tipos[dato.tipo]}} - {{anioS}}</div>
                          <br>
                          <div class="col-xs-5 col-md-6">
                            <table class="table_Gragicas">
                              <thead></thead>
                              <tbody>         
                                <tr ng-if="$index < 5" class="text-right"><td>Enero</td><td>{{dato.m1 | number:2}}</td></tr>
                                <tr ng-if="$index < 5" class="text-right"><td>Febrero</td><td>{{dato.m2 | number:2}}</td></tr>
                                <tr ng-if="$index < 5" class="text-right"><td>Marzo</td><td>{{dato.m3 | number:2}}</td></tr>
                                <tr ng-if="$index < 5" class="text-right"><td>Abril</td><td>{{dato.m4 | number:2}}</td></tr>
                                <tr ng-if="$index < 5" class="text-right"><td>Mayo</td><td>{{dato.m5 | number:2}}</td></tr>
                                <tr ng-if="$index < 5" class="text-right"><td>Junio</td><td>{{dato.m6 | number:2}}</td></tr>
                                                       
                                <tr ng-if="$index > 4" class="text-right"><td>Enero</td><td>{{dato.m1 | currency}}</td></tr>
                                <tr ng-if="$index > 4" class="text-right"><td>Febrero</td><td>{{dato.m2 | currency}}</td></tr>
                                <tr ng-if="$index > 4" class="text-right"><td>Marzo</td><td>{{dato.m3 | currency}}</td></tr>
                                <tr ng-if="$index > 4" class="text-right"><td>Abril</td><td>{{dato.m4 | currency}}</td></tr>
                                <tr ng-if="$index > 4" class="text-right"><td>Mayo</td><td>{{dato.m5 | currency}}</td></tr>
                                <tr ng-if="$index > 4" class="text-right"><td>Junio</td><td>{{dato.m6 | currency}}</td></tr>
                              </tbody>
                            </table>
                          </div>          
                          <div class="col-xs-7 col-md-6" >
                            <table class="table_Gragicas">
                              <thead></thead>
                              <tbody>
                                <tr ng-if="$index < 5" class="text-right"><td>Julio</td><td>{{dato.m7 | number:2}}</td></tr>
                                <tr ng-if="$index < 5" class="text-right"><td>Agosto</td><td>{{dato.m8 | number:2}}</td></tr>
                                <tr ng-if="$index < 5" class="text-right"><td>Septiembre</td><td>{{dato.m9 | number:2}}</td></tr>
                                <tr ng-if="$index < 5" class="text-right"><td>Octubre</td><td>{{dato.m10 | number:2}}</td></tr>
                                <tr ng-if="$index < 5" class="text-right"><td>Noviembre</td><td>{{dato.m11 | number:2}}</td></tr>
                                <tr ng-if="$index < 5" class="text-right"><td>Diciembre</td><td>{{dato.m12 | number:2}}</td></tr>
                                
                                <tr ng-if="$index > 4" class="text-right"><td>Julio</td><td>{{dato.m7 | currency}}</td></tr>
                                <tr ng-if="$index > 4" class="text-right"><td>Agosto</td><td>{{dato.m8 | currency}}</td></tr>
                                <tr ng-if="$index > 4" class="text-right"><td>Septiembre</td><td>{{dato.m9 | currency}}</td></tr>
                                <tr ng-if="$index > 4" class="text-right"><td>Octubre</td><td>{{dato.m10 | currency}}</td></tr>
                                <tr ng-if="$index > 4" class="text-right"><td>Noviembre</td><td>{{dato.m11 | currency}}</td></tr>
                                <tr ng-if="$index > 4" class="text-right"><td>Diciembre</td><td>{{dato.m12 | currency}}</td></tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="col-xs-12 col-md-12">
                            <hr>
                            <div id='myChart{{dato.tipo}}' class="chartStyle"></div>
                          </div>
                        </div>
                        <br>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->


<div class="modal fade bs-example-modal-sm" id="myPleaseWait" tabindex="-1"
    role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-time">
                    </span>Espere un momento
                 </h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-info
                    progress-bar-striped active"
                    style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Modal ends Here -->